<!DOCTYPE html>
<html>
<head>
  <title>Register Carrer Course</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:powderblue;">
  <div class= "form-container"> 
    <font size="5" face="Arial"> Register Carrer Course <br><br></font>
    <form method="POST">
      <font size="5" face="Arial"> University name: <br></font>
        <select id="universityName">
        <option value="student">TEC </option>
        <option value="profesor">UNA </option>
        <option value="administrator">UCR </option>
        <input type="submit" value="Select University"><br><br>
      <font size="5" face="Arial"> Carrer name: <br></font>
      <select id="carrerName">
        <option value="student">TEC </option>
        <option value="profesor">UNA </option>
        <option value="administrator">UCR </option>
        <input type="submit" value="Select Carrer"><br><br>
        <font size="5" face="Arial"> Course name: <br></font>
        <select id="requirement">
        <option value="student">TEC </option>
        <option value="profesor">UNA </option>
        <option value="administrator">UCR </option>
        <input type="submit" value="Select Course">

        <font size="5" face="Arial"> Carrer name: </font>

      <select id="requirement">
        <option value="student">TEC </option>
        <option value="profesor">UNA </option>
        <option value="administrator">UCR </option>
        <input type="submit" value="Select requirement">

      <select id="coRequirement">
        <option value="student">TEC </option>
        <option value="profesor">UNA </option>
        <option value="administrator">UCR </option>
        <input type="submit" value="Select co-requirement"><br>

      <font size="5" face="Arial"> Select Semester: <br></font>
        <input type="text" name="semester"><br><br>

        <input type="submit" value="Register">
    </select>
    </form>

</body>
</html>