<!DOCTYPE html>
<html>
<head>
<script>
function openWin()
{
	var comboboxValue = document.getElementById('combobox').value;
    if (comboboxValue === "student")
    {
        window.open("StudentSignUp.html"); 
    }
    else if (comboboxValue === "profesor")
    {
        window.open("ProfesorSignUp.html");
    }
    else 
    	window.open("AdmiSignUp.html");
}
</script>
</head>

<body>
	<form>
		<font size="5" face="Arial"> Username: <br></font>
		<input type="text" name="username"><br>
		<font size="5" face="Arial"> Password: <br></font>
		<input type="text" name="password"><br><br>
		<font size="5" face="Arial"> Create a new: <br></font>
  		<select id="combobox">
  			<option value="student">Student </option>
  			<option value="profesor">Profesor </option>
  			<option value="administrator">Administrator </option>
		</select>
		<button onclick="openWin()">Register </button> 
	</form>
</body>

</html>