<!DOCTYPE html>
<html>
<head>
<script>
function openWin() {
    window.open("signUp.html");
}
</script>
</head>

<body>
	<form>
		<font size="5" face="Arial"> Username: <br></font>
		<input type="text" name="username"><br>
		<font size="5" face="Arial"> Password: <br></font>
		<input type="text" name="password"><br><br>
		<font size="5" face="Arial"> Create a new: <br></font>
		<select>
  			<option value="Student">Student</option>
  			<option value="Profesor">Profesor</option>
  			<option value="Administrator">Administrator</option>
</select>
		<input type="button" value="Create" onclick="openWin()">
	</form>
</body>

</html>