<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #8181F7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover {
    opacity: 0.8;
}

</style>

</head>
<body>

<h2>Register School Course</h2>

<form action="/action_page.php">
<div>
    <label for="coursename"><b>Course Name</b></label><br>
        <datalist id="school">
        </datalist>
        <input type="text" list="school" placeholder="Select School" name="schoolselect" required>

    <input type="text" placeholder="Enter Course Name" name="coursename" required><br>

    <label for="coursecode"><b>Course Code</b></label>
    <input type="text" placeholder="Enter code" name="coursecode" required><br>

    <button type="submit">Register Course</button>
</div>
</form>

<script type="text/javascript">
  var mycars = new Array();
  mycars[0]='CSS';
  mycars[1]='JAVA';
  mycars[2]='C++';
  mycars[3]='PYTHON';
  mycars[4]='C#';
  mycars[5]='JAVASCRIPT';


  var options = '';

  for(var i = 0; i < mycars.length; i++)
    options += '<option value="'+mycars[i]+'" />';

  document.getElementById('school').innerHTML = options;
</script>

</body>
</html>
