<!DOCTYPE html>
<html>
<head>
	<title>Register School</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:powderblue;">
	<div class= "form-container"> 

			<font size="5" face="Arial"> Register School <br></font>
			<select id="combobox">
  			<option value="student">TEC </option>
  			<option value="profesor">UNA </option>
  			<option value="administrator">UCR </option>
  			<input type="submit" value="Select University"><br><br>
  			<font size="5" face="Arial"> School name: <br></font>
			<input type="text" name="name"><br><br>
			<input type="submit" value="Register School"><br><br><br>
		</select>
		</form>

</body>
</html>