<!DOCTYPE html>
<html>
<head>
	<title>Register School Course</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:powderblue;">
	<div class= "form-container"> 

			<font size="5" face="Arial"> Register Course <br></font>
			<select id="combobox">
  			<option value="student">TEC </option>
  			<option value="profesor">UNA </option>
  			<option value="administrator">UCR </option>
  			<input type="submit" value="Select University"><br><br>

  			<select id="combobox">
  			<option value="student">TEC </option>
  			<option value="profesor">UNA </option>
  			<option value="administrator">UCR </option>
  			<input type="submit" value="Select School"><br><br>

  			<font size="5" face="Arial"> Course name: <br></font>
			<input type="text" name="name"><br><br>

        <font size="5" face="Arial"> Course code: <br></font>
      <input type="text" name="name"><br><br>

			<input type="submit" value="Register Course"><br><br><br>


		</select>
		</form>

</body>
</html>