<!DOCTYPE html>
<html>
<head>
	<title>Register student</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:powderblue;">
	<div class= "form-container"> 
		<font size="5" face="Arial"> Register Student <br><br></font>
		<form method="POST">
			<font size="5" face="Arial"> Name: <br></font>
				<input type="text" name="name"><br>
			<font size="5" face="Arial"> Lastname: <br></font>
				<input type="text" name="lastName"><br>
			<font size="5" face="Arial"> Username: <br></font>
				<input type="text" name="username"><br>
			<font size="5" face="Arial"> Password: <br></font>
				<input type="password" name="password"><br>
			<font size="5" face="Arial"> Email: <br></font>
				<input type="email" name="email"><br>
			<font size="5" face="Arial"> Cell phone: <br></font>
				<input type="text" name="cellPhone"><br>
			<font size="5" face="Arial"> Identification: <br></font>
				<input type="text" name="id"><br>
			<font size="5" face="Arial"> University: <br></font>
				<input type="text" name="university.universityName"><br>
			<<font size="5" face="Arial"> Carrer: <br></font>
				<input type="text" name="university.carrerName "><br>
			<input type="submit" value="Register">
		</form>
	</div>
</body>
</html>