<!DOCTYPE html>
<html>
<head>
	<title>Register University</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:powderblue;">
	<div class= "form-container"> 
		<font size="5" face="Arial"> Register University <br><br></font>
		<form method="POST">
			<font size="5" face="Arial"> University name: <br></font>
				<input type="text" name="name"><br><br>
				<input type="submit" value="Register University"><br><br><br>
			<font size="5" face="Arial"> Register Carrer <br></font>
			<select id="combobox">
  			<option value="student">TEC </option>
  			<option value="profesor">UNA </option>
  			<option value="administrator">UCR </option>
  			<input type="submit" value="Select University"><br><br>
  			<font size="5" face="Arial"> Carrer name: <br></font>
				<input type="text" name="carrerName"><br>
				<font size="5" face="Arial"> Carrer code: <br></font>
				<input type="text" name="carrercode"><br><br>

				<input type="submit" value="Register">
		</select>
		</form>

</body>
</html>