<!DOCTYPE html>
<html>
<head>
	<title>Register University</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color:powderblue;">
	<div class= "form-container"> 
		<font size="5" face="Arial"> Register University <br><br></font>
		<form method="POST">
			<font size="5" face="Arial"> University name: <br></font>
				<input type="text" name="name"><br><br>
				<input type="submit" value="Register University"><br>
			<font size="5" face="Arial"> Lastname: <br></font>
				<input type="text" name="lastName"><br>
			<font size="5" face="Arial"> Username: <br></font>
				<input type="text" name="username"><br>
			<font size="5" face="Arial"> Password: <br></font>
				<input type="text" name="password"><br>
			<font size="5" face="Arial"> Email: <br></font>
				<input type="email" name="email"><br>
			<font size="5" face="Arial"> Cell phone: <br></font>
				<input type="text" name="cellPhone"><br>
			<font size="5" face="Arial"> Identification: <br></font>
				<input type="text" name="id"><br>
			<input type="submit" value="Register">
		</form>
</body>
</html>